/**
 * @Description: 界面布局
 * @author Damon Ma
 * @email : ma_zhengyao@163.com
 * @date 2020/4/10
 * @file : layout.css
 * @software: PyCharm
*/


/*body背景*/
body{
    background-color: whitesmoke;
}


/*标题栏*/
#div_title{
    position: relative;
    /*display: inline-block;*/
    /*隐藏*/
    display: none;
    margin: 0;
    padding: 0 330px;
    background-color: #001F3A;
    height: 150px;

}


/*标题栏背景*/
#div_black{
    border-style:solid;
    border-bottom-color: black;
    background-color: #001F3A;
    height: 130px;
    padding: 8px 0 0 0;
    margin: 0 0 0 0;
}


/*文本*/
#span_container{
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;

}


/*输入图片框*/
#input{
    border:5px solid #001F3A;
    width:140px;
    height:140px;
    border-radius: 8px;

}


/*手写框*/
#main{
    border:5px solid #001F3A;
    border-radius: 8px;
}


/*布局:内部1*/
#div_inner1{
    position:relative;
    left:10%;
    top:10%;"
}


/*布局:内部2*/
#div_inner2{
    position:relative;
    left:0;
    top:0;
}


/*布局模块*/
#div_flaot{
    position:relative;
    left:90%;
    top:0;
}


/*#div_result{*/
/*position:relative;*/
/*left:30%;*/
/*top:-100px;*/
/*}*/


/*文字*/
#p_flaot{
    margin: 0px;
    padding: 0px;
    font-family: "montserrat",sans-serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
    /*font-weight: 900;*/
    position: relative;
    color: #001F3A;
}

/*文字类*/
.p_class{
    margin: 0px;
    padding: 0px;
    font-family: "montserrat",sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    color: #001F3A;
}


/*识别文字*/
#p_class_reg{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    color: #001F3A;
    z-index: 3;
}


/*标题文字*/
#h1_name{
    margin: 0px;
    padding: 25px;
    font-family: "montserrat",sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    color: #001F3A;
}


/*标题文字*/
#h1_name::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 0.6s;

}


/*标题文字*/
#span_container::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background: #2980b9;
    right: 0;
    top: 0;
    transition: 0.6s;

}



#span_container:hover #h1_name::before,
#span_container:hover::before
{
    width: 0;
}


/*分割线*/
#hr_division{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*可视化组件*/
#chart{
    width: 550px;
    height: 350px;
}


#demo{
    display: none;
}


/*标题栏*/
#div_nav{
    background-color: #EDEDED;
    height: 50px;
    padding: 0 0 0 180px;
    margin: 0 0 20px 0;
    /*border-bottom:2px solid #83818c;*/
    box-shadow: 0 10px 10px rgba(159, 162, 177, 0.8);
    /*border-radius: 30px;*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
